<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.user) {%>
    <form action="/add-message" method="POST">
      <label> Title: <input type="text" name="title" id="title" required/> </label>
      <label> Title: <textarea name="message" id="message" required></textarea></label>
      <%- include("partials/errors.ejs") %>
      <button type="submit">Add message</button>
    </form>
    <% } else { %>
    <a href="/login">Login</a> <%}%>
  </body>
</html>
