<html>
  <head>
    <title></title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <label for="first_name"
        >First Name:
        <input type="text" name="first_name" id="first_name" required />
      </label>
      <label for="last_name"
        >Last Name:
        <input type="text" name="last_name" id="last_name" required />
      </label>
      <label
        >Username:
        <input type="text" name="username" id="username" required />
      </label>
      <label
        >Password:
        <input type="password" name="password" id="password" required />
      </label>
      <label
        >Confirm Password:
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          required
        />
      </label>
      <label
        >Do you want to be an admin?
        <input
          type="radio"
          name="is_admin"
          id="is_admin_true"
          value="true"
          required
        />
        <input
          type="radio"
          name="is_admin"
          id="is_admin_false"
          value="false"
          required
        />
      </label>

      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
